<div class="row">
  <div class="small-8 small-centered columns">
    <h1 align="center">Welcome to Parks Planner</h1>
    <h3 align="center">Log in to search for parks.</h3>
  </div>
</div>

<div class="pic">

</div>
